{% extends "app_homework10/base.html" %}

{% block content %}
<h1>Quotes</h1>
{% if messages %}
{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %} role="alert">
    {{message}}
</div>
{% endfor %}
{% endif %}
<div class="row">
    {% for quote in quotes %}
    <div class="card">
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{quote.quote}}</p>
          <footer class="blockquote-footer"><cite title="Author"><a href="/authors/{{quote.author.id}}" class="card-link">{{quote.author.fullname}}</a></cite></footer>
        </blockquote>
      </div>
    </div>
    {% endfor %}

</div>
{% endblock %}